<!-- Обновите шаблон ProductDetailsComponent, чтобы отображать сведения о продукте с помощью *ngIf. 
    Если продукт существует, <div> отображается с именем, ценой и описанием. -->
<h2>Product Details</h2>

<div *ngIf="product">
    <h3>{{ product.name }}</h3>
    <!-- Строка <h4>{{ product.price | валюта }}</h4> 
        использует канал валюты для преобразования product.price из числа в строку валюты. 
        Конвейер — это способ преобразования данных в HTML-шаблоне.  
    -->
    <h4>{{ product.price | currency }}</h4>
    <p>{{ product.description }}</p>
    <button type="button" (click)="addToCart(product)">Buy</button>
</div>