<h2>Products</h2>

<!-- 
В папке product-list откройте файл шаблона product-list.component.html.
Добавьте структурную директиву *ngFor в <div>
С *ngFor <div> повторяется для каждого продукта в списке.
Структурные директивы формируют или изменяют структуру DOM, 
добавляя, удаляя и манипулируя элементами.
 -->
<div *ngFor="let product of products">
    <h3>
        <!-- Внутри <div> добавьте <h3> и {{ product.name }}. Оператор {{ product.name }} является примером синтаксиса 
            интерполяции Angular. Интерполяция {{ }} позволяет отображать значение свойства в виде текста. 
        -->
        <!-- Чтобы сделать каждое название продукта ссылкой на сведения о продукте, добавьте элемент <a> вокруг {{ product.name }}.
            Задайте в качестве заголовка название продукта, используя синтаксис привязки свойства [title] следующим образом: 
        -->
        <a [title]="product.name + 'details' ">
            <!-- На панели предварительного просмотра наведите указатель мыши на имя продукта, чтобы увидеть значение свойства связанного имени, 
                которое представляет собой имя продукта плюс слово «подробности». Привязка свойства [title] позволяет использовать значение свойства 
                в выражении шаблона. 
            -->
            {{product.name}}
        </a>
    </h3>

    <!-- Добавьте описания товаров. В элементе <p> используйте директиву *ngIf, чтобы Angular создавал элемент <p> только в том случае, 
        если у текущего продукта есть описание. 
    -->
    <!-- Приложение теперь отображает название и описание каждого продукта в списке. Обратите внимание, что конечный продукт не имеет параграфа 
        описания. Angular не создает элемент <p>, потому что свойство описания продукта пусто. 
    -->
    <p *ngIf="product.description">
        Description: {{product.description}}
    </p>

    <!-- Добавьте кнопку, чтобы пользователи могли поделиться продуктом. Привяжите событие нажатия кнопки к методу share(). 
        Привязка события использует набор круглых скобок (click) вокруг события, как в событии (щелчок) в элементе <button>. 
    -->
    <button type="button" (click)="share()">
        Share
    </button>

    <!-- Наконец, чтобы отобразить ProductAlertsComponent как дочерний элемент ProductListComponent, 
        добавьте элемент <app-product-alerts> в product-list.component.html. 
        Передайте текущий продукт в качестве входных данных для компонента, используя привязку свойства. 
    -->
    <app-product-alerts [product]="product" (notify)="onNotify()">
    </app-product-alerts>

    <!-- Компонент оповещения о новом продукте принимает продукт в качестве входных данных из списка продуктов. 
        С помощью этого ввода он показывает или скрывает кнопку «Уведомить меня» в зависимости от цены продукта. 
        Цена телефона XL превышает 700 долларов, поэтому на этом продукте есть кнопка «Уведомить меня». 
    -->
    <!-- Получать данные от ProductAlertsComponent.
    Привяжите <app-product-alerts> к методу onNotify() компонента списка продуктов. 
    <app-product-alerts> — это то, что отображает кнопку «Уведомить меня». 
    -->
</div>