<p *ngIf="product && product.price > 700">
    <!-- Откройте product-alerts.component.html и замените абзац-заполнитель кнопкой «Уведомить меня», 
    которая появляется, если цена продукта превышает 700 долларов США. -->
    <button type="button" (click)="notify.emit()">Notify me</button>
    <!-- Обновите кнопку «Уведомить меня», указав привязку события для вызова метода notify.emit(). -->
</p>
<!-- Передать данные дочернему компоненту.
В настоящее время в списке продуктов отображается название и описание каждого продукта. 
ProductListComponent также определяет свойство products, которое содержит импортированные данные для 
каждого продукта из массива products в products.ts.
Следующим шагом является создание новой функции оповещения, которая использует данные о продуктах из 
ProductListComponent. Оповещение проверяет цену продукта и, если цена превышает 700 долларов США, 
отображает кнопку «Уведомить меня», которая позволяет пользователям подписаться на уведомления, 
когда продукт поступит в продажу.
В этом разделе описывается создание дочернего компонента ProductAlertsComponent, 
который может получать данные от своего родительского компонента ProductListComponent.
-->